@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}

.playarea{
    padding-left: 1rem;
    border-color: rgba(255,255,255,0.6);
    border-radius: 0.125rem;
    font-size: 4rem;
    text-align: center;
    cursor: pointer;
}
