@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.navbar{
    display: flex;
    /* border: 0.2rem solid black; */
    padding-top: 1.5rem;
    
}
.left{
    justify-content: center;
    align-items: center;
    width: 50%;
    display: flex;
}
.left img{
    width: 10%;
    padding:-5px;
    transform: translateX(15%);
    z-index: -1;
}
.nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#left-text{
    font-size: 1.5rem;
}
.text-nav{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    transition: 0.2s;
}
a:hover{
    transform: scale(1.1);
    font-weight: 500;
}

.hero-section{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 2rem;
    width: 100%;
    display: flex;
}
.hero-left{
    width: 60vw;
    padding-top: 1rem;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    height: 84vh;
    justify-content: space-between;

}
.hero-left-items{
    padding: 1rem 0rem 0rem 10rem;
}
#hero-heading{
    color: #3B3B4B;
    font-size: 1.5rem;
}
#hero-prof{
    font-size:1.7rem;
    margin-bottom: 1.5rem;
}
#hero-description{
    margin-bottom: 2rem;
}
.btn-pink{
    padding: 0.5rem 0rem 0.5rem 0rem;
    position: relative;
    background-color: red;
    border: 1px solid red;
    color: snow;
    font-size: 1rem;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0px 0px 1px #1f1f1f ;
}
#hire-me{
    width: 20%;
    margin-left: 10rem ;
}
.btn-pink::before{
    content:"";
    background-color: snow;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: scaleX(0);
    transition: 0.5s;
    z-index: -1;
    transform-origin: left;
}
.btn-pink:hover::before{
    transform: scaleX(1);
    box-shadow: 0px 0px 5px red ;
}
.btn-pink:hover{
    color: red;
}

.role{
    color: #4C41B5;
    transition: all 1s;
}
.hero-right{
    position: relative;
}
.img-items{
    position: absolute;
}
#user-img{
    height: 66vh;
    padding: 2.5rem;
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
    
}
#user-img img{
    z-index: -12;
}
@keyframes scaleImage {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(0.8);
        box-shadow: 3px 3px 10px #1f1f1f
    }
    100%{
        transform: scale(1);
    }
    
}
.faded-text{
    font-size: 7em;
    user-select: none;
    color: rgb(231, 231, 231);
    font-weight: bold;
}
#dots{
    z-index: 9;
    bottom:2rem;
    left: 18rem;
    transform: scale(0.5);
    animation: dots 5s linear infinite;
}
#plus{
    z-index: 6;
    left: 10rem;
    animation: plus 5s linear infinite;
}
#cube{
    z-index: 6;
    right: 0.01rem;
    animation: cube 5s linear infinite;
}
#circle{
    z-index: 6;
    bottom: 4rem;
    left: -1rem;
    animation: circle 5s linear infinite;
}
#zig-zag{
    z-index: 6;
    left: -2rem;
    animation: zig 5s linear infinite;
}
@keyframes zig {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translate(90%);
    }
    
}
@keyframes circle {
    50%{
        left: 1rem;
        right: 4rem;
        }  
}
@keyframes plus {
    0%{
        transform: translateY(0);
        transform: translateX(0);
    }
    50%{
        transform: translateY(-20%);
    }
    
}
@keyframes cube{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: translateY(-10%);
        transform: rotateY(180deg);
    }
}
@keyframes dots {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-50%);
    }
    
}
.project-container{
    margin-top: -2rem;
    background-color: c;
}
.project-mainheading{
    text-align: center;
    padding: 1.5rem;
    font-size: 4rem;
    color: #E04041;
}
.cards{
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    
}
.project-card{
    position: relative;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 500px;
    box-shadow: 0px 0px 40px #1f1f1f;
    overflow: visible;
}
.project-card::after{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    transform: scaleX(1);
    z-index: 0;
}
.project-card::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #343d68,#343d68be,#343d687c);
    transform: scaleX(0);
    transition: 0.4s;
    transform-origin: left;
    z-index: 1;
}
.project-card:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
.project-card:hover{
    .project-content{
        transform: scale(1.1);
    }
    .card-number{
        opacity: 1;
    }
}
.ts-icons{
    height: 30px;
    width: 30px;
}
.card-number{
    position: absolute;
    font-size:150px;
    color: white;
    z-index: 5;
    opacity: 0;
    transition: all 0.5s;
}

.left-card{
    left: -30px;
    top:-60px;
}
.right-card{
    right: -30px;
    top:-60px;
}
.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom:20%;
    z-index:5;
    gap: 1em;
    transition: all 0.4s
}

.project-content-left{
    left:10%;
}
.project-content-right{
    right:10%;
}

.card1{
    background-image: url(./images/projects/Project1.png);
    background-size: cover;
    transform: translateX(-2rem);
}
.card2{
    background-image: url(./images/projects/Project2.png);
    background-size: cover;
    transform: translateX(4rem);
}
.card3{
    background-image: url(./images/projects/Project3.png);
    background-size: cover;
    transform: translateX(-2rem);
}
.card4{
    background-image: url(./images/projects/Project4.png);
    background-size: cover;
    transform: translateX(4rem);
}
.btn-rm{
    width: 40%;
}
.btn-rm1{
    width: 25%;
}
.giti:hover,.linki:hover{
    transition: all 0.4s;
    color: red;
    cursor: pointer;
}
.skills-section{
    margin: 2rem 0rem 0rem 0rem;
    width: 100vw;
    display: flex;
}
.skills-left-section{
    width: 50%;
    padding: 1rem 2rem ;
}
.skills-right-section{
    position: relative;
    padding-top: 5%;
    width: 60%;
    gap: 10px;
}
.skills-stack{
    height: 90px;
    width: 90px;
    margin: 1rem;
    transition: all 0.5s;
}
.skills-stack:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.skills-heading{
    margin: 1rem;
    color: red;
    font-size: 1.8em;
    letter-spacing: 0.1em;
}
#me{
    font-size: 1.5em;
}
.para{
    font-size: 1rem;
    margin: 0.6em;
    font-weight: 800;
}
.bubble{
    position: absolute;
    z-index: -1;
    top: 10rem;
    left: 5rem;
    animation: bubble 5s linear infinite;
}
@keyframes bubble {
    50%{
        top: 8rem;
        left: 8rem;
    }
}
.text-skills{
    text-align: end;
    font-size: 13rem;
}
.contact-me{
    background-color: #E1E1E1;
    margin-top: -3.5rem;
}
.cm-heading{
    color: #E04041;
    padding: 0.2em;
    font-size: 7rem;
}
.cm-subheading{
        color: #707692;
        padding-left: 0.5em;
        font-size: 3rem;
}
.form-element{
    width: 70%;
    padding: 0.5em 0.8em;
    margin: 2rem 0rem 0rem 10rem;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0px 0px 5px #333;
    }

textarea{
    width: 70%;
    height: 7rem;
    resize: none;
    margin: 2rem 0rem 0rem 10rem;
    font-size: 1em;
    padding: 0.5em 0.8em;
    box-shadow: 0px 0px 7px #333;
}
.send-msg{
    width: 25%;
    margin: 2rem 0rem 4rem 10rem;
    font-weight: bold;
    padding: 0.5em 0.8em;
}